<ion-view view-title="Randos">
  <ion-content class="padding">
    <div class="list">
        <a class="item item-thumbnail-right" ng-repeat="event in events">
          <button class="button button-positive" ng-show="event.loop1">
            1
          </button>
          <button class="button button-positive" ng-show="event.loop2">
            2
          </button>
          <button class="button button-positive" ng-show="event.loop3">
            3
          </button>
          <h2>{{event.dateTime | date}}</h2>
          <p>{{ event.name }}</p>
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
